export(distinct, allNA, "%c%", "%n%", "%u%", "%==%", "%-%", integer_digits, generalized_ave,
       weighted_mode,
       complete_quarters, complete_years,
       price_relative)
S3method(distinct, default)
S3method(distinct, data.frame)
