export(weighted_mode,
       complete_quarters, complete_years,
       distinct, allNA, "%c%", "%n%", "%u%", "%==%", "%-%", integer_digits,
       generalized_ave)
S3method(distinct, default)
S3method(distinct, data.frame)
importFrom(stats, setNames)
